<div class="container controller">
  <div class="row">
  <div class="col-lg-10 col-lg-offset-1 ">

        <form class="form-profile" name="profileForm" role="form">
        <h2 class="page-header">Edit Profile</h2>
        
        <div class="col-sm-3">
          <img ng-src="{{getGravatarUrl(user.emailAddress)}}" alt="user profile image" class="img-thumbnail"/>
        </div>
        <div class="col-sm-9">
          <fieldset>
              <div class="form-control-group">
                  <label for="userName">User Name:</label>
                  <input class="form-control input-md" focus id="userName" required ng-pattern="" type="text" placeholder="Username" ng-model="user.userName" />
              </div>
              <div class="form-control-group">
                  <label for="password">Password:</label>
                  <input class="form-control input-md" id="password" required type="password" ng-model="user.password" />
              </div>
              <div class="form-control-group">
                  <label for="name">Name:</label>
                  <input class="form-control input-md" focus id="name" type="text" placeholder="Name" ng-model="user.name" />
              </div>
              <div class="form-control-group">
                  <label for="emailAddress">Email Address:</label>
                  <input class="form-control input-md" id="emailAddress" placeholder="name@email.com" required type="email" ng-model="user.emailAddress" />
              </div>
              <div class="form-control-group">
                  <label for="bio">Bio:</label> <br/>
                  <textarea rows="6" class="form-control input-md" focus id="bio" placeholder="Your bio..." ng-model="user.bio"></textarea>
              </div>
            <br/>
            <p>
            <button class="btn btn-warning" ng-disabled="profileForm.$invalid" type="submit" ng-click="saveProfile(user, profileForm)">Submit</button>
            <button class="btn btn-danger" type="button" ng-click="cancelEdit()">Cancel</button>
            </p>

        </fieldset>
        </div>
        </form>


    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div> <!-- end container -->

