<div class="controller eventslist">
    <h1 class="page-header">Events</h1>

    <ul class="media-list">
        <li ng-repeat="event in events | orderBy:sortorder">
            <a href="#/event/{{event.id}}">
                    <div class="col-sm-4">
                    <div class="well well-sm">
                        <img class="col-sm-12 img-rounded" ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1"><h3>{{event.name}}</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">Date:<span class="pull-right">{{event.date | date:['MM/dd/yyyy']}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">Time:<span class="pull-right">Start: {{event.time.start | date:['h']}}, End: {{event.time.end | date:['h']}}</span></div>
                        </div>
                        <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">Location:<span class="pull-right">{{event.location.address}}</span><br /><span class="pull-right">{{event.location.city}}, {{event.location.state}}</span></div>
                </div>
            </a>
        </li>
    </ul>

</div> <!--end page header-->
