<div class="controller">
	<h1 class="page-header" ng-bind="event.name">Event Name</h1>

<div class="row">
<div class="col-lg-10 col-lg-offset-1 ">
<form class="form-horizontal" role="form" name="newEventForm">
  <div class="form-group">
  		<div class="col-xs-12">
  		<label for="eventName">Event Name:</label>
		<input class="form-control input-md" id="eventName" type="text" ng-model="event.name" required placeholder="Name of your event..." />
    	</div>
  </div>
  <div class="form-group">
  	<div class="col-xs-12">
    <label for="eventDate">Event Date:</label>
	<input class="form-control input-md" id="eventDate" type="text" ng-model="event.date" required ng-pattern="/(0[1-9]|1[012])[- \/.](0[1-9]|[12][0-9]|3[01])[- \/.](19|20)\d\d/" ng-blur="isFuture(event.date)" placeholder="{{event.date | date:'MM/dd/yyyy'}}" />
    <!-- <span ng-hide="validDate"><small>Event date must be in the future.</small></span> -->
    <span ng-hide="isFuture(event.date)"><small>Event date must be in the future.</small></span>
    <!-- <span ng-hide="form.eventDate.$error.pattern"><small>Incorrect date format: please use MM/DD/YYYY</small></span> -->

    </div>
  </div>
  <div class="form-group">
  	<div class="col-xs-12">
 	<label for="eventStartTime">Event Start Time:</label>
	<input class="form-control input-md" id="eventStartTime" type="time" ng-model="event.time.start" placeholder="Start and end time..." />
    <label for="eventEndTime">Event End Time:</label>
	<input class="form-control input-md" id="eventEndTime" type="time" ng-model="event.time.end" placeholder="Start and end time..." />
    </div>
   </div>
   <div class="form-group">
 	<div class="col-xs-12">
   		<label for="eventLocation">Event Location:</label>
		<input class="form-control input-md" id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event..." />
		<input class="form-control input-md" id="eventCity" type="text" ng-model="event.location.city" placeholder="City..." />
		<input class="form-control input-md" id="eventState" type="text" ng-model="event.location.state" placeholder="State..." />
    </div>
    </div>
   <div class="form-group">
   <div class="col-xs-12">
   <label for="price">Price:</label>
   	<input class="form-control input-md" id="price" type="number" ng-model="event.price" placeholder="{{event.price | currency }}" />
    </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <label for="eventImageUrl">Image:</label>
            <input class="form-control input-md" id="eventImageUrl" type="url" ng-model="event.imageUrl" placeholder="Url of image..." />
        </div>
    </div>
    <div class="form-group">
    <div class="col-xs-12">
    <img ng-src="{{event.imageUrl}}" src="" />
	</div>
	</div>

    <h4 class="page-header">Sessions</h4>
    <div class="form-group">
        <div class="col-xs-12">
            <a class="btn btn-success btn-sm" href="" ng-click="addSession()">Add Session</a>
        </div>
    </div>
    <div class="form-group well" ng-repeat="session in event.sessions">
        <h4 class="pull-left">{{session.name}}</h4><a class="btn btn-danger btn-sm pull-right" href="" ng-click="removeSession(session)">X</a>
        <div class="col-xs-12">
            <input class="hidden" name="id" ng-model="session.id" value="1">
            <input class="hidden" name="upVoteCount" ng-model="session.upVoteCount" value="0">
            <label for="name">Session Name:</label>
            <input class="form-control input-md" type="text" id="name" ng-model="session.name" placeholder="Session name..." />
            <label for="creatorName">Speaker Name:</label>
            <input class="form-control input-md" type="text" id="creatorName" ng-model="session.creatorName" placeholder="Speaker name..." />
            <br/>
            <label for="duration">Duration:</label>
            <select id="duration" placeholder="Choose One" ng-model="session.duration">
                <option value="" selected default>Choose One</option>
                <option value="1">Half Hour</option>
                <option value="2">1 Hour</option>
                <option value="3">Half Day</option>
                <option value="4">Full Day</option>
            </select>
            <br/>
            <label for="level">Level:</label>
            <select id="level" placeholder="Choose One" ng-model="session.level">
                <option value="" selected default>Choose One</option>
                <option selected value="introductory">Introductory</option>
                <option value="intermediate" >Intermediate</option>
                <option value="advanced">Advanced</option>
            </select>
            <br/>
            <br/>
            <label for="abstract">Abstract:</label>
            <textarea id="abstract" row="6" class="form-control input-lg" ng-model="session.abstract"></textarea>
        </div>
    </div>

    <div class="form-group">
    <div class="col-xs-12">
    <button type="submit" class="btn btn-default" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)">Save</button>
	<button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
	</div>
  </div>
</form>

</div>
</div>
</div> <!-- end edit event controller -->